# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
.idea/compiler.xml
.idea/java.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
nio2/nio2.iml
/.idea/vcs.xml
jpa/jpa.iml
java.iml
/jpa/target/
/nio2/target/
nio2/target/
springdatajpa/springdatajpa.iml